apiVersion: apps/v1
kind: Deployment
metadata:
  name: cex-template
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cex-template
  template:
    metadata:
      labels:
        app: cex-template
    spec:
      containers:
        - name: template
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
          readinessProbe:
            httpGet:
              path: /readyz
              port: {{ .Values.service.port }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.service.port }}
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
